

#res_head{
    text-align: center;
    font-size: 32px;
    background: lightgray;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;

}

#access_title{
    text-align: end;
    background: blueviolet;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
}

#text_reviews_title{
    text-align: right;
    background: lightgray;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
}