/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/12/2013, 20:58:56
    Author     : shay
*/

.splash{position: absolute;}
body{text-align:  right}
#submit_search{text-align: center}
#search{width: content-box  }
.right{text-align: right}
#main_section {text-align: right}

.centerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#res_title{
	background: lightblue;
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 5px;
        width: 100%;
        
}

#res_head{
        text-align: center;
        font-size: 32px;
	background: lightgray;
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 5px;
        width: 100%;
        
}

#access_title{
        text-align: end;
        background: lightgray;
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 5px;
        width: 100%;
}

#text_reviews_title{
        text-align: right;
        background: lightgray;
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 5px;
        width: 100%;
}
#main_section{
	float: right;
	width: 90%;
	margin: 30px; /* 720px, 280 left*/
}


#search_table
{
    
   border-collapse:collapse;
}
tr
{
   border-bottom: 1px solid #000;
}
tr.last
{
   border-bottom: none;
}
#search1{
    text-align: center;
    
}